.App {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  background-color: rgb(3, 10, 54);
}

/* Navbar*/

#MyNavbar {
  color: white;
  background: #000000;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navbar-nav {
  padding-right: 10px;
  gap: 20px;
}

/* end css header */
#collasible-nav-dropdown {
  color: white;
}
/*css About us*/

.about-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.about-container::before {
  content: "";
  background-image: url("images/movie-playing.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}
.heading-container {
  display: flex;
  font-size: 70px;
  position: relative;
  color: black;
  align-items: baseline;
  flex-direction: row-reverse;
  margin: 10px;
}
.about-title {
  font-family: "Rampart One";
  font-weight: bold;
  position: relative;
  color: black;
  font-size: 5rem;
  padding: 20px px;
  margin: 25px;
  line-height: 0.9;
  text-align: center;
}

.about-text-container {
  background-color: #cbdfe269;
  background-size: cover;
  position: relative;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.681);
}

.about-text {
  position: relative;
  color: black;
  font-size: 20px;
  padding: 15px;
}
.howto-text {
  position: relative;
  color: black;
  font-size: 20px;
  padding: 15px;
}
.howto-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  justify-content: center;
}
.howto-steps-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  justify-content: flex-start;
  align-content: center;
  gap: 20px;
}
/* css footer */

#footer {
  background-color: #333;
  color: white;
  text-align: left;
}
#footer .py-5 {
  padding-bottom: 1rem !important;
}
#footer .input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  height: calc(3.5rem + 2px);
}
#footer .first_class {
  padding-bottom: 21px;
  border-bottom: 1px solid #444;
}
#footer .gigi-footer {
  color: white;
}

#footer .gigi-footer2 {
  background-color: #222;
}
.gigispan {
  color: whitesmoke;
  font-size: 1.3em;
}
/* end css footer */

/*Hero section*/
.hero {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height:75%;*/
  height: "500px";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: yellow;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #9fe6f0;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/*hero section end here */

.card-img-top {
  width: 100%;
  height: 18vw;
  padding: 5px;
}
.my-modal .modal-content {
  background-color: rgb(167, 98, 98);
  color: white;
}

.contact-form-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
